$page-background-color: rgb(43, 21, 53);
$glitch-white: #e0d6e6;

:root {
    --dark-element-shadow: .1em .7em 1.2em rgba(132, 47, 184, .2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(28,0,41);
    background: linear-gradient(200deg, rgb(23, 1, 39) 5%, rgba(28,0,41,1) 10%, rgba(43,21,53,1) 60%, rgb(81, 30, 82) 99%);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-item {
    flex-wrap: nowrap;
}

.glitch {
    color: $glitch-white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 6rem;
    text-shadow:
        .05em 0 0 rgba(255, 0, 0, .7),
        -.05em -.025em 0 rgba(0, 255, 0, .7),
        -.025em .05em 0 rgba(0, 0, 255, .7);
}